



div.box, div.cell {
display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

body {
	text-align: center;
	font-family: Arial;

}

#sudoku {
	font-size: 0;
	text-align: center;

}

.incorrect {
	background-color: orange;
	border: dashed; color: gray;
}

.value_provided {
	background-color: gray;
}

#flash {
  margin: 20px;
}

